{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <title>{{ trans("Ceres::Template.orderCheckout") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}

    <div class="page-content checkout container-max">
    	<div>
	    	<iframe src="{{ paymentPageUrl }}" frameborder="0" width="100%" height="700px"></iframe>
		</div>
    </div>

{% endblock %}
